{% load i18n %}

{% autoescape off %}
    {% blocktrans %}
    Hey {{ user.get_shortname }},
    {% endblocktrans %}
    
    {% blocktrans with company_name=company %}
    Thank you for signing up and welcome aboard the good ship {{ company }}!
    Here are few handy links as you set sail:
    {% endblocktrans %}

    <ul>
        <li>
            {% blocktrans %}
            Our <a href="http://" target="_blank" rel="noopener noreferrer">Help Center</a> is a great source of useful information
            {% endblocktrans %}
        </li>

        <li>
            {% blocktrans %}
            The <a href="http://" target="_blank" rel="noopener noreferrer">Product Updates</a> section will steer you to the latest news
            {% endblocktrans %}
        </li>
        
        <li>
            {% blocktrans  with company_name=company %}
            Tie up alongside @{{ company_name }} on Twitter for regular product tips, updates and puns!
            {% endblocktrans %}
        </li>
        
        <li>
            Start your journey here → whimsical.new ⛵
        </li>
    </ul>

    {% trans "Cheers" %},
    
    {% blocktrans with company_name=company %}
    The {{ company_name }} Crew
    {% endblocktrans %}

    {% trans "P.S. If you have any questions or feel out of your depth, simply reply to this email and we’ll drop you a line." %}
{% endautoescape %}
