[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "*"
boto3 = "*"
django = "*"
django-storages = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-imagekit = "*"
django-redis = "*"
gunicorn = "*"
numpy = "*"
nltk = "*"
pandas = "*"
pillow = "*"
python-memcached = "*"
redis = "*"
django-axes = "*"
psycopg2 = "*"
pymemcache = "*"
social-auth-app-django = "*"
autopep8 = "*"
opencv-python = "*"
opencv-python-headless = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.12"
