NUXT_FIREBASE_API_KEY=

NUXT_FIREBASE_AUTH_DOMAIN=

NUXT_FIREBASE_DB_URL=

NUXT_FIREBASE_APP_ID=

NUXT_FIREBASE_MEASUREMENT_ID=

NUXT_FIREBASE_MESSAGE_SENDER_ID=

NUXT_FIREBASE_PROJECT_ID=

NUXT_PROD_DOMAIN=
