{% load i18n humanize %}

<script>
    var videomixins = {
        props: {
            videoid: {
                type: String,
                required: true
            },
            videosource: {
                type: String,
                required: true
            },
            poster: {
                type: String,
            },
            width: {
                type: Number,
                default: 800
            },
            ablecontrols: {
                type: Boolean,
                default: true
            }
        }
    }

    Vue.component("simple-card-component", {
        name: "SimpleCard",
        delimiters: ["[[", "]]"],
        template: `
        <div v-if="loading" class="ph-item" key="videoreference">
            <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                    <div class="ph-col-6 big mb-1"></div>
                    <div class="ph-col-12 empty m-0"></div>
                    <div class="ph-col-2 big"></div>
                    <div class="ph-col-5 m-0"></div>
                </div>
            </div>
        </div>

        <div v-else class="card mt-3">
            <slot></slot>
        </div>
        `,
        data() {
            return {
                loading: true
            }
        },
        mounted() {
            setTimeout(() => {
                this.loading = false
            }, 1000);
        }
    })

    // Vue.component("video-card-component", {
    //     props: ["href"],
    //     delimiters: ["[[", "]]"],
    //     data() {
    //         return {
    //             loading: false,

    //             player: null,

    //             playeroptions: {
    //                 aspectRatio: "16:9",
    //                 fluid: true,
    //                 responsive: true,
    //                 inactivityTimeout: 2000,
    //             }
    //         }
    //     },
    //     mounted() {
    //         var self = this
    //         self.player = videojs(self.$refs.videoplayer, self.playeroptions)
    //         self.player.on("loadedmetadata", function (e) {
    //             setTimeout(() => {
    //                 self.loading = false
    //             }, 1000);
    //         })
    //     },
    //     methods: {
    //         previewvideo: function (e) {
    //             this.player.play()
    //             var previewtimeout = setTimeout(() => {
    //                 this.stoppreview()
    //             }, 4000)
    //         },
    //         stoppreview: function (e) {
    //             // clearTimeout(previewtimeout)
    //             this.player.pause()
    //             this.player.currentTime(0)
    //         } 
    //     }
    // })

    Vue.component("video-player", {
        name: "VideoPlayer",
        mixins: [videomixins],
        template: `
        <video :id="videoid" :width="width|defaultwidth" :controls="ablecontrols"
                class="vjs-custom-skin video-js" data-setup="{}" 
                    preload="auto">
            <source :src="videosource" type="video/mp4" />
        </video>
        `,
        data() {
            return {
                videoplayer: null,

                currenttime: null,
                duration: null,
                remaining: null,
                howmuchisdowloaded: undefined,

                loading: true
            }
        },
        beforeMount() {
            var self = this
            var options = {
                aspectRatio: "16:9",
                fluid: true,
                responsive: true,
                liveui: false,
                inactivityTimeout: 2000,
                playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2],
                userActions: {
                    hotkeys: function (event) {
                        // if (event.which === 32) {
                        //     if (this.paused()) {
                        //         this.play()
                        //     } else {
                        //         this.pause()
                        //     }
                        // }

                        // if (event.which === 70) {
                        //     if (this.isFullscreen()) {
                        //         this.isFullscreen(false)
                        //     } else {
                        //         this.isFullscreen(true)
                        //     }
                        // }
                    }
                }
            }

            var player = videojs(self.$props.videoid, options, function () {
                this.on("play", function (e) {
                    self._getstatistics()
                    self._percentagecompleted()
                    // self.duration = this.duration()
                    // self.howmuchisdowloaded = this.bufferedPercent()
                    // self.currenttime = player.currentTime()
                    localStorage.setItem("play", "{{ video.reference }}")
                })

            })
            
            player.on("timeupdate", function (e) {
                self.remaining = this.remainingTime()
            })
            
            player.volume(1)

            // var custombutton = videojs.getComponent("Button");
            // var button = new custombutton(player, {
            //     clickHandler: function (event) {
            //         videojs.log('Clicked');
            //     }
            // })
            // var button = player.addChild("button");
            // console.log(button.el());
            player.poster(this.$props.poster)
            self.videoplayer = player
        },
        mounted() {
            setTimeout(() => {
                this.loading = false
            }, 2000);
            // if (this.videoplayer.readyState() === 4) {
            //     this.loading =  false
            // }
        },
        beforeDestroy() {
            this.videoplayer.on("ended", () => {
                this.videoplayer.dispose()
            })
        },
        destroy() {
            alert("Is a view?")
        },
        computed: {
            percentagecomplete() {
                // Math.floor(p.currentTime() / p.duration() * 1000) / 10
            },
            fullmediaurl() {
                return this.$props.videosource
            }
        },
        methods: {
            _percentagecompleted: function () {
                var result = Math.floor(
                    this.videoplayer.currentTime() / 
                    this.videoplayer.duration() * 1000
                ) / 10
                console.log(result)
            }
        }
    })
</script>

<script>
    var checkboxmixins = {
        data() {
            return {
                checked: false
            }
        },
        beforeMount() {
            if (this.$props.ischecked === undefined) {
                this.checked = false
            } else {
                if (this.$props.ischecked === "True") {
                    this.checked = true
                } else {
                    this.checked = false
                }
            }
        },
        methods: {
            startaction: function () {
                this.$emit("startaction")
            }
        }
    }

    Vue.component("simple-checkbox-component", {
        props: ["id", "label", "ischecked"],
        name: "Checkbox",
        mixins: [checkboxmixins],
        delimiters: ["[[", "]]"],
        template: `
        <div class="custom-control custom-checkbox">
            <input @change="startaction" v-model="checked" type="checkbox" class="custom-control-input" :id="id" :checked="ischecked">
            <label class="custom-control-label" :for="id">
                [[ label ]]
            </label>
        </div>
        `
    })

    Vue.component("data-checkbox-component", {
        props: ["id", "label", "value", "ischecked"],
        name: "DataCheckbox",
        mixins: [checkboxmixins],
        delimiters: ["[[", "]]"],
        template: `
        <div class="custom-control custom-checkbox">
            <input @change="startaction" v-model="checked" type="checkbox" class="custom-control-input" :id="id" :value="value" :checked="ischecked">
            <label class="custom-control-label" :for="id">
                [[ label ]]
            </label>
        </div>
        `,
        methods: {
            startaction: function () {
                this.$emit("startaction", this.$props.value, this.checked)
            }
        }
    })
</script>

<script>
    Vue.component("select-component", {
        props: ["options"],
        name: "Select",
        delimiters: ["[[", "]]"],
        template: `
        <select @change="startaction" v-model="selected" class="browser-default custom-select">
            <option v-for="option in options">[[ option ]]</option>
        </select>
        `,
        data() {
            return {
                selected: undefined
            }
        },
        beforeMount() {
            this.selected = this.$props.options[0]
        },
        methods: {
            startaction: function () {
                this.$emit("startaction", this.selected)
            }
        }
    })
</script>
