# Site

NUXT_PUBLIC_DJANGO_GRAPHQL=

NUXT_PUBLIC_DJANGO_MODERATION_GRAPHQL=

NUXT_PUBLIC_SITE_URL="https://example.com"
NUXT_PUBLIC_SITE_NAME=
NUXT_PUBLIC_SITE_ENV=

# Redis

NUXT_PUBLIC_REDIS_HOST=
NUXT_PUBLIC_REDIS_PASSWORD=

# Nuxt

NUXT_PUBLIC_FIREBASE_API_KEY=
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NUXT_PUBLIC_FIREBASE_DB_URL=
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NUXT_PUBLIC_FIREBASE_APP_ID=
NUXT_PUBLIC_FIREBASE_PROJECT_ID=
NUXT_PUBLIC_FIREBASE_MESSAGE_SENDER_ID=
NUXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

NUXT_OG_IMAGE_SECRET=your-secret-key
