[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "*"
boto3 = "*"
django = "*"
django-storages = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-extensions = "*"
django-celery-beat = "*"
django-debug-toolbar = "*"
django-imagekit = "*"
django-redis = "*"
flower = "*"
gunicorn = "*"
numpy = "*"
nltk = "*"
psycopg = "*"
pandas = "*"
pillow = "*"
python-memcached = "*"
redis = "*"
sklearn = "*"
social-auth-app-django = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
