<script>
    var fetchmixins = {
        methods: {
            newfetchdict: function (body) {
                var base = {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin"
                }

                if (body !== undefined) {
                    base["body"] = body
                }
                return base
            },
            newformdata: function () {
                var formdata = new FormData()
                formdata.append("channel", "{{ channel.reference }}")
                return formdata
            }
        }
    }
</script>

<script>
    // TODO - Transform into a global component
    var subscriptioncomponent = {
        name: "Subscribe",
        mixins: [fetchmixins],
        data() {
            return {
                isubscribed: false,
                hassubscribed: false
            }
        },
        beforeMount() {
            if ("{{ is_subscribed }}" === "True") {
                this.isubscribed = true
            } else {
                this.isubscribed = false
            }
        },
        methods: {
            unsubscribe: function () {
                var url = "{% url 'mychannel:unsubscribe' channel.reference %}"
                var formdata = this.newformdata()
                formdata.append("channel", "{{ channel.reference }}")
                fetch(url, this.newfetchdict(formdata))
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        } else {
                            this.hassubscribed = !this.hassubscribed
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            },
            subscribe: function () {
                var url = "{% url 'mychannel:subscribe' channel.reference %}"
                var formdata = this.newformdata()
                formdata.append("channel", "{{ channel.reference }}")
                fetch(url, this.newfetchdict(formdata))
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        } else {
                            this.hassubscribed = true
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    }
</script>
