<script>
    Vue.component("comment-card-component", {
        props: ["commentid", "replyid", "videoreference"],
        name: "Comment",
        delimiters: ["[[", "]]"],
        data() {
            return {
                comment: null,
                showinput: false,
                shownewreply: false,
                newcomment: null,
                showreplies: false,
            }
        },
        methods: {
            newreply: function () {
                var formdata = new FormData()
                formdata.append("reference", this.$props.videoreference)
                formdata.append("reply", this.comment)
                formdata.append("comment_id", this.$props.commentid)
                fetch("{% url 'comments:reply' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: formdata
                })
                .then((response) => {
                    response.json().then((data) => {
                        this.shownewreply = data.state
                        this.showinput = false
                        this.comment = null
                        this.newcomment = data.content
                    })
                })
                .catch((error) => {
                    window.location.reload()
                })
            }
        }
    })

    var commentsapp = new Vue({
        el: "#app",
        name: "Comments",
        delimiters: ["[[", "]]"]
    })
</script>
