{% load i18n %}

<div class="col-12">
    <button @click="" class="btn btn-sm z-depth-0 bg-white">
        <i class="fa fa-thumbs-up"></i>
    </button>

    <button @click="" class="btn btn-sm z-depth-0 bg-white">
        <i class="fa fa-thumbs-down"></i>
    </button>

    <button @click="showmaincommentinput=!showmaincommentinput" class="btn btn-sm z-depth-0 bg-white">
        {% trans "Reply" %}
    </button>

    <div v-if="showmaincommentinput" class="form-group">
        <input @keypress.enter="submitreply" v-model="comment" :placeholder="'@{{ comment.user.username }}'" type="text"
            class="form-control">
    </div>
</div>
