[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
autopep8 = "*"
django = "*"
django-storages = "*"
django-rest-framework = "*"
django-cors-headers = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-redis = "*"
gunicorn = "*"
numpy = "*"
nltk = "*"
pandas = "*"
python-memcached = "*"
redis = "*"
django-axes = "*"
pymemcache = "*"
channels = {extras = ["daphne"], version = "*"}
autobahn = "==22.4.2"
channels-redis = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
celery = "*"
graphene-django = "*"
django-filter = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
django-import-export = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.13"
