dotenv
autopep8
django
django-storages
django-rest-framework
django-cors-headers
django-extensions
django-debug-toolbar
django-redis
gunicorn
numpy
nltk
pandas
python-memcached
redis
django-axes
pymemcache
channels-redis
celery
graphene-django
django-filter
drf-spectacular
djangorestframework-simplejwt
django-import-export
