<script>
    Vue.component("card-component", {
        props: ["videoid"],
        name: "Card",
        delimiters: ["[[", "]]"],
        data() {
            return {
                isdeleted: false
            }
        },
        created() {
            this.isdeleted = false
        },
        methods: {
            deletefromhistory: function (id) {
                var formdata = new FormData()
                formdata.append("history_id", id)
                fetch("{% url 'history:delete-from-history' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: formdata
                })
                .then((response) => {
                    response.json().then((data) => {
                        this.isdeleted = data.state
                        if (!data.state) {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    })
</script>


<script>
    var historyapp = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data() {
            return {
                ispaused: false,
                loading: true
            }
        },
        created() {
            this.ispaused = false
        },
        mounted() {
            setTimeout(() => {
                this.loading = false
            }, 2000);
        },
        methods: {
            deletehistory: function () {
                fetch("{% url 'history:delete' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                })
                .then((response) => {
                    response.json().then((data) => {
                        if (data.state) {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            },
            pausehistory: function () {
                fetch("{% url 'history:pause' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                })
                .then((response) => {
                    response.json().then((data) => {

                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    })
</script>
