{% load i18n static cache %}

<script type="text/x-template" id="video-card-component">
     <div v-if="loading" class="ph-item" key="videoreference">
        <div class="ph-col-12">
            <div class="ph-picture"></div>
            <div class="ph-row">
                <div class="ph-col-6 big mb-1"></div>
                <div class="ph-col-12 empty m-0"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-5 m-0"></div>
            </div>
        </div>
    </div>
    
    <div v-else class="card mt-2" @mouseenter="previewvideo($event)" @mouseleave="stoppreview($event)">
        <a :href="href">
            <div class="row">
                <div class="col-12">
                    <video ref="videoplayer" :id="'video_' + [[ reference ]]" :width="300" :controls="false" class="vjs-custom-skin video-js" preload="auto" muted>
                        <source :src="[[ src ]]" type="video/mp4" />
                    </video>
                </div>
            </div>
    
            <div class="card-footer">
                <div class="details">
                    <p class="fw-bold text-uppercase m-0" style="color: black;">[[ videotitle ]]</p>
                    <p class="mt-1 mb-0 text-muted">{{ channelname }}</p>
                    <p style="color: black;">[[ viewcount ]] views - [[ createdon ]]</p>                        
                </div>
            </div>
        </a>
    </div>
</script>
