{% load i18n static %}

<div class="row">
    <div class="col-12">
        <h3>{% trans "Channel videos" %}</h3>
        <hr>
    </div>

    {% for video in videos %}
        <div class="col-4">
            <a href="{% url 'videos:detail' video.reference %}">
                <video-card-component inline-template>
                    <div @mouseenter="previewvideo($event)" @mouseleave="stoppreview($event)" class="card mt-2">
                        <video ref="videoplayer" :id="'video_{{ video.reference }}'" :width="300" :controls="false" class="vjs-custom-skin video-js" preload="auto" muted>
                            <source :src="'{% get_media_prefix %}{{ video.video }}'" type="video/mp4" />
                        </video>
                    </div>
                </video-card-component>
            </a>
        </div>
    {% endfor %}
</div>
