{% extends "layouts/base_interface.html" %}
{% load i18n static humanize %}

{% block title %}
    {% trans "Library" %}
{% endblock %}

{% block main %}
    <section class="section" id="history">
        <div class="row">
            <div class="col-sm-12 col-md-8 order-1 order-sm-2 order-md-1">
                <transition-group tag="div" class="row" name="general-transition">
                    {% for history_item in user_history %}
                        <div class="col-12" key="info_{{ forloop.counter }}">
                            {% ifchanged %}
                                <h3>{{ history_item.created_on|date:"M Y" }}</h3>
                                <hr>
                            {% endifchanged %}
                        </div>    
                        
                        <div class="col-12" key="{{ forloop.counter }}">
                            <div v-show="loading" class="ph-item" key="preloader_{{ forloop.counter }}">
                                <div class="ph-col-12">
                                    <div class="ph-picture"></div>
                                    <div class="ph-row">
                                        <div class="ph-col-6 big mb-1"></div>
                                        <div class="ph-col-12 empty m-0"></div>
                                        <div class="ph-col-2 big"></div>
                                        <div class="ph-col-5 m-0"></div>
                                    </div>
                                </div>
                            </div>

                            <card-component videoid="video_{{ history_item.video.reference }}" key="video_{{ forloop.counter }}" inline-template>
                                <div v-if="!isdeleted" class="card z-depth-0 border border-bottom rounded-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <video-player :width="200" :videoid="videoid" 
                                                    :ablecontrols="false" :videosource="'{% get_media_prefix %}{{ history_item.video.video }}'" />
                                            </div>
            
                                            <div class="col-8">
                                                <h3>
                                                    <a href="{{ history_item.video.get_absolute_url }}" title="{{ history_item.video.title }}">
                                                        {{ history_item.video.title }}
                                                    </a>    
                                                </h3>
            
                                                <p title="{{ history_item.video.user_channel.name }}">
                                                    <a href="{{ history_item.video.user_channel.get_absolute_url }}">
                                                        {{ history_item.video.user_channel.name }}
                                                    </a>
            
                                                    <button @click="deletefromhistory(videoid)" class="btn btn-sm btn-light z-depth-0">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </p>
            
                                                <p class="text-muted">
                                                    {{ history_item.video.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </card-component>
                        </div>
                    {% empty %}
                        <div key="no-history" class="card z-depth-0 text-center">
                            <div class="card-body">
                                <h2 class="font-weight-bold">
                                    {% trans "You have no history" %}
                                </h2>
                                
                                <hr>

                                <a href="{% url 'mychannel:channels' %}" class="btn btn-lg btn-info">
                                    {% trans "Start watching videos" %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </transition-group>
            </div>

            <div class="col-sm-12 col-md-4 order-1 order-sm-1 order-md-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <form method="get">
                            <input type="search" name="search" 
                                class="form-control" id="search" 
                                    placeholder="{% trans 'Search' %}">
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-12">
                                <button @click="deletehistory()" class="btn btn-md btn-light z-depth-0">
                                    <i class="fa fa-trash mr-3"></i>
                                    {% trans "Clear watch history" %}
                                </button>
                            </div>

                            <div class="col-12">
                                <button @click="pausehistory()" class="btn btn-md btn-light z-depth-0">
                                    <i class="fa fa-pause mr-3"></i>
                                    {% trans "Pause watch history" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block vuejs_scripts %}
    {{ block.super }}
    <!-- App -->
    {% include "vue/history_app.html" %}
{% endblock %}
