{% extends "layouts/base_interface.html" %}
{% load i18n cache %}

{% block title %}{{ userchannel.name }} - VaTube{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>
                        <a href="">
                            {{ userchannel.name }}
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{% trans "Title" %}</th>
                                <th scope="col">{% trans "Views" %}</th>
                            </tr>
                        </thead>
                
                        <tbody>
                            {% for video in videos %}
                                <tr>
                                    <td>{{ video.id }}</td>
                                    <th scope="row">
                                        <a href="{{ video.get_edit_absolute_url }}">
                                            {{ video.title }}
                                        </a>
                                    </th>
                                    <td>{{ video.views }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <h2>{% trans "There are no videos" %}</h2>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
