<script>
    var uploadnewvideo = {
        name: "Upload",
        delimiters: ["[[", "]]"],
        data() {
            return {
                title: null,
                description: null,
                itemstosend: null,
                issuccessful: false,
                newvideourl: null
            }
        },
        computed: {
            buttoninactive() {
                if (this.title === null & this.description === null & this.itemstosend === null) {
                    return true
                } else {
                    return false
                }
            }
        },
        methods: {
            newvideofile: function (e) {
                var videofile = e.target.files[0]
                this.videofile = videofile
                var data = new FormData()
                data.append("new-video", videofile, videofile["name"])
                this.itemstosend = data
            },
            startupload: function () {
                this.itemstosend.append("title", this.title)
                this.itemstosend.append("description", this.description)
                fetch(window.location.href, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: this.itemstosend
                })
                .then((response) => {
                    response.json().then((data) => {
                        this.issuccessful = data.state
                        if (this.issuccessful) {
                            this.newvideourl = data.url
                            this.title = null
                            this.description = null
                        } else {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        }
    }
</script>

<script>
    var editapp = new Vue({
        el: "#app",
        name: "UploadNew",
        delimiters: ["[[", "]]"],
        components: {
            "upload-video-component": uploadnewvideo
        }
    })
</script>
