{% load i18n cache %}

<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <!-- Commenting -->
                {% if video.comment_strategy == "Allow all comments" %}
                    <comment-interface inline-template>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input @keypress.enter="submitcomment" v-model="comment" type="text" name="comment"
                                        class="form-control" id="comment" placeholder="{% trans 'Add a comment' %}">
                                </div>
                            </div>

                            <div class="col-12">
                                <div v-show="hasnewcomment" class="card mt-3">
                                    <div class="card-body">
                                        [[ newcomment ]]
                                    </div>
                                </div>
                                
                                <!-- Comment -->
                                {% with comments=video.comment_set.all %}
                                    {% for comment in comments %}
                                        <comment-card :commentid="'{{ comment.id }}'" :key="'{{ comment.id }}'" inline-template>
                                            <div class="card mt-3">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            {{ comment.content }}
                                                        </div>
                                                        
                                                        <!-- Interraction -->
                                                        {% include "includes/video/comments/interraction.html" %}
                                                    </div>

                                                    
                                                    <!-- Replies -->
                                                    {% with replies=comment.reply_set.all %}
                                                        {% if replies.count > 0 %}
                                                            <hr class="mt-3 mb-3">

                                                            <button @click="showreplies=!showreplies, getreplycount('{{ replies.count }}')" v-if="!showreplies" class="btn btn-sm btn-primary" role="button" aria-label="Toggle replies">
                                                                <i v-if="showreplies" class="fa fa-arrow-down mr-2"></i>
                                                                <i class="fa fa-arrow-down mr-2"></i>
                                                                {% trans "Show" %} {{ replies.count }} replies
                                                            </button>

                                                            <button @click="showreplies=!showreplies" v-else class="btn btn-sm btn-primary" role="button" aria-label="Toggle replies">
                                                                <i class="fa fa-arrow-up mr-2"></i>
                                                                {% trans "Hide" %} {{ replies.count }} replies
                                                            </button>

                                                            <div v-if="showreplies" class="row">
                                                                <div class="col-12">
                                                                    {% include "includes/video/comments/replies.html" %}
                                                                </div>

                                                                <div v-if="hasnewreply" class="col-12">
                                                                    <div class="reply p-3">
                                                                        [[ newreply ]]
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </comment-card>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </comment-interface>
                {% elif video.comment_strategy == "Hold all comments for review" %}
                    <div class="card">
                        <div class="card-body">
                            {% trans "Comments are restricted on this video" %}
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            {% trans "Comments are turned off on this video" %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-4"></div>
</div>
