{% load i18n %}

{% for reply in replies %}
    <div class="reply p-3">
        <div class="row">
            <div class="col-12">
                {{ reply.content }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <interraction-component @submitreply="shownewreply" :commentid="'{{ comment.id }}'" :key="'{{ reply.id }}'" inline-template>
                    <div class="response-box">
                        <button @click="" class="btn btn-sm z-depth-0 bg-white">
                            <i class="fa fa-thumbs-up"></i>
                        </button>

                        <button @click="" class="btn btn-sm z-depth-0 bg-white">
                            <i class="fa fa-thumbs-down"></i>
                        </button>

                        <button @click="showbox=!showbox" class="btn btn-sm z-depth-0 bg-white">
                            {% trans "Reply" %}
                        </button>

                        <div v-if="showbox" class="form-group">
                            <input v-model="comment" type="text" class="form-control" :placeholder="'@{{ reply.user.username }}'">
                            <button @click="submitreply()" class="btn btn-sm">
                                {% trans "Reply" %}
                            </button>
                        </div>
                    </div>
                </interraction-component>
            </div>
        </div>
    </div>
{% endfor %}
