<div class="card {% if forloop.counter > 0 %}mt-3{% endif %}">
    <div class="row">
        <div class="col-12">
            <video-player :width="300" :id="'{{ video.reference }}'" :ablecontrols="false"
                    :videosource="'/media/{{ video.video }}'" key="{{ forloop.counter }}" />
        </div>
    </div>

    <div class="card-footer">
        <div class="details">
            <p class="font-weight-bold m-0">{{ video.title|truncatechars:30 }}</p>
            <p class="mt-1 mb-0 text-muted">{{ video.user_channel.name|title }}</p>
            <p>{{ video.views }} views - {{ video.created_on|naturaltime }}</p>
        </div>
    </div>
</div>
