<main>
    <div class="container">
        <!-- First row -->
        {% include "includes/benefits/first_row.html" %}
        
        <hr class="my-5">
        
        <!-- Second row -->
        {% include "includes/benefits/second_row.html" %}
        
        <hr class="my-5">
        
        <!-- Third row -->
        {% include "includes/benefits/third_row.html" %}
        
        <hr class="mb-5">
        
        <!-- Fourth row -->
        {% include "includes/benefits/fourth_row.html" %}
        
        <hr class="mb-5">
        
        <!-- Fith row -->
        {% include "includes/benefits/fifth_row.html" %}
        
        <hr class="mb-5">

        {% include "includes/benefits/banner.html" with section_image="https://mdbootstrap.com/img/Photos/Others/images/78.jpg" %}
    </div>
</main>
