{% load i18n static %}

<script src="{% static 'js/initproject.js' %}"></script>
<script>PROJECT.init.setCSRF('{{ csrf_token }}')</script>

<!-- Vuetify -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->

<!-- Store -->
<!-- <script src="{% static 'js/store.js' %}"></script> -->

<!-- Router -->
<script src="{% static 'js/routes.js' %}"></script>

<!-- Axios -->
<script src="{% static 'js/axiosclient.js' %}"></script>

<!-- Mixins -->
<!-- <script src="{% static 'js/mixin.js' %}"></script> -->

<!-- Plugins -->
<!-- <script src="{% static 'js/plugins/api.js' %}"></script> -->


<!-- <script>
    Vue.use(APIInterface)
    Vue.mixin(globalMixin)

    var app = new Vue({
        el: "#app",
        name: "App",
        vuetify: new Vuetify(),
        
        store,
        router,

        delimiters: ["[[", "]]"],

        beforeMount() {
            var attrs = {
                username: "{{ user.username }}",
                authenticated: "{{ user.is_authenticated }}"
            }
            this.$store.dispatch('authentication/setuser', attrs)
        }
    })
</script> -->

<script>
    var { createApp } = Vue

    const app = createApp({
        name: "App",
        // delimiters: ["[[", "]]"],
        // beforeMount() {
        //     var user = {
        //         username: "{{ user.username }}",
        //         authenticated: "{{ user.is_authenticated }}"
        //     }
        //     console.log(user)
        // }
    })

    app.use(createClient())
    // app.use(router)
</script>

<!-- Components -->
<script src="{% static 'js/components.js' %}"></script>
