@import "flowbite/src/themes/default";

.page-enter-active,
.page-leave-active {
    transition: all 0.4s ease-in-out;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.opacity-enter-active,
.opacity-leave-active {
    transition: all 0.3s ease-in-out;
}

.opacity-enter-from,
.opacity-leave-to {
    opacity: 0;
}

.opacity-enter-to,
.opacity-leave-from {
    opacity: 1;
}

.opacity-move {
    transition: all 0.2s ease-in-out;
}
