<script type="text/x-template" id="comment-card">
    <div class="card shadow-none rounded-none">
        <div class="card-body">
        <div class="d-flex justify-content-around">
            <div class="me-3">
            <img src="http://via.placeholder.com/100x100" class="img-fluid rounded-circle" alt="Image 1">
            </div>
    
            <div clas="ms-1">
            <div class="d-flex justify-content-left align-items-center">
                <span class="fw-bold me-2">{{ comment.user__username }}</span>
                <span class="text-muted">3 weeks ago</span>
                <font-awesome-icon v-if="comment.pinned" icon="fa-solid fa-thumbtack" class="text-warning mx-3" />
            </div>
    
            <p class="card-text">
                [[ comment.content ]]
            </p>
    
            <!-- NOTE: Make this a reusable component
            for all comment/reply cards -->
            <div class="my-3">
                <div class="badge badge-danger me-1">@creator</div>
                <div class="badge badge-light">Liked by @creator</div>
            </div>
    
            <div class="btn-group shadow-none">
                <button type="button" class="btn btn-primary btn-sm shadow-none" @click="likeComment"><span class="mdi mdi-thumb-up me-2"></span>12.3k</button>
                <button type="button" class="btn btn-primary btn-sm shadow-none" @click="likeComment"><span class="mdi mdi-thumb-up me-2"></span>24</button>
                <button type="button" class="btn btn-info btn-sm shadow-none" @click="showReplyInput = !showReplyInput">Reply</button>
            </div>
    
            <input v-if="showReplyInput" :placeholder="`Reply to ${comment.user__username}`" type="text" class="form-control mt-2" @keypress.enter="createComment">
    
            <div class="mt-2">
                <button type="button" class="btn btn-light shadow-none" @click="showReplies = !showReplies">
                <!-- <span v-if="showReplies">[[ `Hide ${comment.replies.length} replies` ]]</span>
                <span v-else>[[ `View ${comment.replies.length} replies` ]]</span> -->
                </button>
            </div>
    
            <!-- Replies -->
            <transition name="pop">
                <div v-if="showReplies" class="replies">
                    <reply-card-vue v-for="reply in comment.replies" :key="reply.id" :reply="reply" />
                </div>
            </transition>
            </div>
        </div>
        </div>
    </div>
</script>

