{% load i18n cache %}

<div class="row mt-3">
    <div class="col-12">
        <div class="infos">
            <div class="row">
                {% with tags=video.tags.all %}
                    {% if tags %}
                        <div class="col-12">
                            {% cache 3600 video_tags video.reference %}
                                {% for tag in tags %}
                                    <span class="badge badge-light">
                                        {{ tag.name }}
                                    </span>
                                {% endfor %}                        
                            {% endcache %}
                        </div>                     
                    {% endif %}
                {% endwith %}

                <div class="col-6">
                    <a href="{% url 'mychannel:detail' video.user_channel.reference %}" class="font-weight-bold">
                        {{ video.user_channel.name }}
                    </a>
                    <p>{{ video.user_channel.description }}</p>
                </div>

                <div class="col-6 text-right">
                    {% if request.user.is_authenticated %}
                        {% if request.user.userchannel_set.get.name == video.user_channel.name %}
                            <a href="{{ video.get_edit_absolute_url }}" class="btn btn-md btn-info">
                                <i class="fa fa-pen mr-3"></i>
                                {% trans "Manage video" %}
                            </a>
                        {% else %}
                            <!-- Subscribe -->
                            <subscription-component inline-template>
                                <button @click="unsubscribe('{{ video.user_channel.reference }}')" v-if="hassubscribed | isubscribed" class="btn btn-md btn-danger">
                                    {% trans "Unsubscribe" %}
                                </button>
                        
                                <button @click="subscribe('{{ video.user_channel.reference }}')" v-else class="btn btn-md btn-primary">
                                    {% trans "Subscribe" %}
                                </button>
                            </subscription-component>

                            <!-- Donation -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-md btn-info" data-toggle="modal" data-target="#donation">
                                    {% trans "Donate" %}
                                </button>

                                <button type="button" class="btn btn-md btn-info dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        {% trans "Share" %}
                                    </a>
                                    
                                    <a class="dropdown-item" href="#">
                                        {% trans "Boutique" %}
                                    </a>
                                </div>
                            </div>                        
                        {% endif %}
                    {% else %}
                        <a href="{% url 'admin:login' %}" class="btn btn-md btn-primary">
                            {% trans "Subscribe" %}
                        </a>

                        <a href="{% url 'admin:login' %}" class="btn btn-md btn-primary">
                            {% trans "Donate" %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    {% include "includes/modals/donation.html" %}
</div>
