{% extends "layouts/base_edit.html" %}
{% load i18n  %}

{% block title %}{% trans "Customize" %} - YouTube{% endblock %}

{% block action_url %}
    {% url 'mychannel:settings:upload' channel.reference %}
{% endblock %}

{% block form_actions %}
    <div class="card mb-3">
        <div class="card-body">
            <button type="submit" class="btn btn-large btn-primary">
                {% trans "Validate" %}
            </button>
        </div>
    </div>
{% endblock %}

{% block form_content %}
    <div class="form-row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <upload-video-component inline-template>
                        <div class="form-row">
                            <div class="col-12">
                                <div v-if="issuccessful" class="alert alert-success">
                                    {% trans "Video was uploaded sucessfully and is available at" %} <a :href="newvideourl" target="_blank">[[ newvideourl ]]</a>
                                </div>
                            </div>
        
                            <div class="col-12">
                                <div class="form-group">
                                    <input v-model="title" type="text" name="name" class="form-control" id="name" placeholder="Title">
                                </div>
                                
                                <div class="form-group">
                                    <input v-model="description" type="text" name="description" class="form-control" id="description" placeholder="Description">
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="category" id="category">
                                        {% for choice in categories %}
                                            <option value="{{ choice }}">{{ choice }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="age-restriction" />
                                        <label class="form-check-label" for="age-restriction">
                                            {% trans "Age restricted" %}
                                        </label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="allow-comments" />
                                        <label class="form-check-label" for="allow-comments">
                                            {% trans "Allow comments" %}
                                        </label>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">{% trans "Upload" %}</span>
                                    </div>
                                    <div class="custom-file">
                                        <input @change="newvideofile" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">{% trans "Choose a file" %}</label>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-12 text-right mt-4">
                                <a @click="startupload()" :class="{disabled: buttoninactive}" class="btn btn-lg btn-primary m-0">
                                    {% trans "Upload video" %}
                                </a>
                            </div>
                        </div>
                    </upload-video-component>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatem minus odit dolor ex beatae modi placeat error provident, deleniti, nihil, eaque nulla ipsa est cumque mollitia doloribus nostrum rerum!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block vuejs_scripts %}
    {{ block.super }}
    <!-- App -->
    {% include "vue/edit_app.html" %}
{% endblock %}
