{% load i18n cache %}

<div class="row mt-2">
    <div class="col-8">
        <h3 class="m-0">{{ video.title }}</h3>
    </div>
    
    <div class="col-4">
        <div class="actions d-flex flex-direction-row justify-content-right">
            <!-- Rating -->
            {% if request.user.is_authenticated %}
                <rating-component @addlike="updaterating" @dislike="updaterating" :reference="reference" :likes="likes" :dislikes="dislikes"  inline-template>
                    <div class="rating d-flex flex-direction-row justify-content-center">                    
                        <div>
                            <like-button @startaction="addlike" :likebuttonstate="likebuttonstate" :likes="likes" />
                        </div>

                        <div>
                            <dislike-button @startaction="dislike" :dislikebuttonstate="dislikebuttonstate" :dislikes="dislikes" />
                        </div>                        
                    </div>
                </rating-component>       
                
                <!-- Playlists -->
                <playlist-component :reference="reference" inline-template>
                    <div class="playlist">
                        <button class="btn btn-sm z-depth-0 bg-white" data-toggle="modal" data-target="#playlists">
                            <i class="fa fa-save mr-1 fa-1x"></i>
                            {% trans "Save" %}
                        </button>
                
                        <!-- Modal -->
                        {% include "includes/modals/playlists.html" %}
                    </div>
                </playlist-component>
            {% else %}
                <!-- Rating -->
                <div class="rating d-flex flex-direction-row justify-content-center">
                    <a href="{% url 'admin:login' %}?next={{ video.get_absolute_url }}" class="btn btn-sm">
                        <i class="fa fa-thumbs-up fa-1x mr-1"></i>
                        [[ likes ]]
                    </a>

                    <a href="{% url 'admin:login' %}?next={{ video.get_absolute_url }}" class="btn btn-sm">
                        <i class="fa fa-thumbs-down fa-1x mr-1"></i>
                        [[ dislikes ]]
                    </a>
                </div>

                <a href="{% url 'admin:login' %}?next={{ video.get_absolute_url }}" class="btn btn-sm z-depth-0 bg-white">
                    <i class="fa fa-save mr-1 fa-1x"></i>
                    {% trans "Save" %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
