{% extends "layouts/base_interface.html" %}
{% load i18n cache %}

{% block title %}{{ video.title }} - VaTube{% endblock %}

{% block extra_css %}
    <style>
        .video-wrapper {
            position: relative;
            height: auto;
            width: 100%;
            min-height: 450px;
            background: black;
        }

        .spinner-border {
            /* border: .25em solid currentColor; */
            animation: spinner-border 1.5s linear infinite;
        }
    
        #video-spinner {
            position: absolute;
            z-index: 3;
            left: 40%;
            top: 40%;
            width: 10rem;
            height: 10rem;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <base-messages inline-template>
                <div id="messages">
                    <v-alert v-for="message in messages" :key="message.id" :type="message.type" :value="message.visible" dismissable>
                        This is a message
                    </v-alert>
                </div>
            </base-messages>
        </div>
    </div>

    <video-interface inline-template>
        <section class="section p-0 mb-3" id="video">
            <!-- Video -->
            {% include "includes/video/player.html" %}
    
            <!-- General Infos & Actions -->
            {% include "includes/video/infos_actions.html" %}
    
            <!-- Channel Informations -->
            {% include "includes/video/channel_infos.html" %}
            
            <hr class="mt-3 mb-3">
    
            <!-- Comments -->
            {% include "includes/video/comments/comments.html" %}
        </section>
    </video-interface>
{% endblock %}


{% block vuejs_scripts %}
    {{ block.super }}
    <!-- Video -->
    {% include "vue/video.html" %}
{% endblock %}
