<script>
    var filterscomponent = {
        name: "FiltersComponent",
        // delimiters: ["[[", "]]"],
        data() {
            return {
                clicked: false
            }
        }
    }

    var videoscomponent = {
        name: "VideosComponent",
        props: ["videos"],
        // delimiters: ["[[", "]]"],
        filters: {
            asviews: function (value) {
                return `${value} views`
            }
        },
    }

    app.component("feed-view", {
        name: "FeedView",
        // delimiters: ["[[", "]]"],
        template: "#feed-view-template",
        components: {
            // "videos-component": videoscomponent,
            "filters-component": filterscomponent
        },
        data() {
            return {
                videos: []
            }
        }
    })
</script>
