<script>
    app.component("video-player-component", {
        name: "VideoPlayer",
        delimiters: ["[[", "]]"],
        data() {
            return {
                loading: true,
                currenttime: null,
                remainingtime: null,
                duration: null,

                previousttime: null,

                playeroptions: {
                    aspectRatio: "16:9",
                    fluid: true,
                    responsive: true,
                    liveui: false,
                    inactivityTimeout: 2000,
                    playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2]
                },

                seeked: false,
            }
        },
        mounted() {
            var self = this
            self.player = videojs(self.$refs.videoplayer, self.playeroptions)
            self.player.on("loadedmetadata", function () {
                self.duration = this.duration()
                self.loading = false

                var hasprevioustime = localStorage.getItem("currenttime")
                setTimeout(() => {
                    if (hasprevioustime !== undefined) {
                        if (hasprevioustime < self.duration) {
                            self.player.currentTime(hasprevioustime)
                        } else {
                            self.player.currentTime(0)
                        }
                    }
                    self.player.play()
                }, 2000);
            })
            // self.player.on("ready", function (e) {
            //     self.playerready(e)
            // })
            // self.player.on("seeked", function (e) {
            //     self._isseeked(e)
            // })
        },
        computed: {
            percentagecomplete() {
                return Math.floor(this.currenttime / this.duration * 1000) / 10
            }
        },
        methods: {
            play: function (e) {

            },
            pause: function (e) {
                localStorage.setItem("currenttime", this.currenttime)
                this.remainingtime = this.player.remainingTime()
            },
            playerready: function (e) {
                setTimeout(() => {
                    this.duration = this.player.duration()
                }, 1000);
            },
            playing: function (e) {
                localStorage.setItem("video", "{{ video.reference }}")
            },
            timeupdate: function (e) {
                this.currenttime = this.player.currentTime()
            },
            playerended: function (e) {
                this._sendview()
            },
            statechanged: function (e) {

            },
            _isseeked: function (e) {
                this.seeked = true
                // var skipped = Math.floor(this.currenttime - this.previousttime * 100) / 100
                // var updatedduration = Math.floor(this.duration - skipped * 100) / 100
                // var newpercentageupdate = Math.floor(this.currenttime / updatedduration * 1000) / 100
                // this.duration = updatedduration
                // console.log(newpercentageupdate)
            },
            _sendview: function () {
                const attrs = {
                    duration: this.duration,
                    seeked: this.seeked,
                    currenttime: this.currenttime,
                    reference: "{{ video.reference }}"
                }
                setTimeout(() => {
                    this.$api.views.sendview("{% url 'videos:count_view' video.reference %}", attrs)
                    .then((response) => {
                        console.log(response)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                    console.log("Mark as view")
                }, 500)
            }
        },
        watch: {
            currenttime: function (newval, oldval) {
                this.previousttime = oldval
                this.currenttime = newval
            }
        }
    })
</script>

<script>
    var fetchmixins = {
        methods: {
            newfetchdict: function (body) {
                var base = {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin"
                }

                if (body !== undefined) {
                    base["body"] = body
                }
                return base
            },
            newformdata: function () {
                var formdata = new FormData()
                formdata.append("video", "{{ video.reference }}")
                return formdata
            }
        }
    }
</script>

<script>
    var replymixins = {
        methods: {
            submitreply: function () {
                var formdata = new FormData()
                formdata.append("reply", this.comment)
                formdata.append("comment_id", this.$props.commentid)
                formdata.append("reference", "{{ video.reference }}")

                fetch("{% url 'comments:reply' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: formdata
                })
                .then((response) => {
                    response.json().then((data) => {
                        if (data.state) {
                            this.hasnewreply = true
                            this.$emit("submitreply", this.comment)
                            this.comment = undefined
                            this.showbox = false
                        } else {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    }

    var interractioncomponent = {
        props: ["commentid"],
        name: "Interraction",
        delimiters: ["[[", "]]"],
        mixins: [replymixins],
        data() {
            return {
                comment: undefined,
                showbox: false
            }
        }
    }

    var commentcard = {
        props: ["commentid"],
        name: "CommentCard",
        mixins: [replymixins],
        components: {
            "interraction-component": interractioncomponent
        },
        data() {
            return {
                comment: undefined,
                showmaincommentinput: false,
                showreplies: false,

                hasnewreply: false,
                newreply: undefined,

                repliescount: undefined
            }
        },
        methods: {
            shownewreply: function (comment) {
                this.hasnewreply = true
                this.repliescount += 1
                this.newreply = comment
            },
            getreplycount: function (n) {
                this.repliescount = parseInt(n)
            }
        }
    }

    var commentinterface = {
        name: "CommentInterface",
        delimiters: ["[[", "]]"],
        components: {
            "comment-card": commentcard,
        },
        data() {
            return {
                comment: undefined,
                hasnewcomment: false,
                newcomment: undefined
            }
        },
        methods: {
            submitcomment: function () {
                var formdata = new FormData()
                formdata.append("comment", this.comment)
                formdata.append("reference", "{{ video.reference }}")

                fetch("{% url 'comments:new' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: formdata
                })
                .then((response) => {
                    response.json().then((data) => {
                        if (data.state) {
                            this.comment = undefined
                            this.hasnewcomment = true
                            this.newcomment = data.comment
                        } else {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    }
</script>

<script>
    var ratingbuttonsmixins = {
        props: ["israted"],
        delimiters: ["[[", "]]"]
    }

    var likebutton = {
        props: ["likebuttonstate", "likes"],
        mixins: [ratingbuttonsmixins],
        template: `
        <button @click="$emit('startaction', 'like')" :class="buttonclass" class="btn btn-sm">
            <i class="fa fa-thumbs-up fa-1x mr-1"></i>
            [[ likes ]]
        </button>
        `,
        beforeMount() {
            if (this.$props.likebuttonstate) {
                this.clicked = true
            }
        },
        computed: {
            buttonclass() {
                return {
                    "btn-primary": this.likebuttonstate,
                    "btn-white": !this.likebuttonstate
                }
            }
        }
    }
    
    var dislikebutton = {
        props: ["dislikebuttonstate", "dislikes"],
        mixins: [ratingbuttonsmixins],
        template: `
        <button @click="$emit('startaction', 'dislike')" :class="buttonclass" class="btn btn-sm">
            <i class="fa fa-thumbs-down fa-1x mr-1"></i>
            [[ dislikes ]]
        </button>
        `,
        beforeMount() {
            if (this.$props.dislikebuttonstate) {
                this.clicked = true
            }
        },
        computed: {
            buttonclass() {
                return {
                    "btn-primary": this.dislikebuttonstate,
                    "btn-white": !this.dislikebuttonstate
                }
            }
        }
    }

    var ratingcomponent = {
        props: ["reference", "likes", "dislikes"],
        name: "Rating",
        delimiters: ["[[", "]]"],
        mixins: [fetchmixins],
        components: {
            "like-button": likebutton,
            "dislike-button": dislikebutton
        },
        data() {
            return {
                likebuttonstate: false,
                dislikebuttonstate: false,

                // TODO
                israted: false
            }
        },
        beforeMount() {
            this.likebuttonstate = "{{ user_rating }}" === "liked"
            this.dislikebuttonstate = "{{ user_rating }}" === "disliked"

            if (this.likebuttonstate | this.dislikebuttonstate) {
                this.israted = true
            }
            
            // NEW
            // var likeButtonState = "{{ user_rating }}" == "liked"
            // var dislikeButtonState = "{{ user_rating }}" == "disliked"
            // var truth = [likeButtonState, dislikebutton]
            // this.$store.commit('setRated', truth.some((value) => { value == true }))
        },
        computed: {
            checkifrated() {
                if (this.likebuttonstate | this.dislikebuttonstate) {
                    return true
                } else {
                    return false
                }
            }
        },
        methods: {
            addlike: function (method) {
                var data = { video: "{{ video.reference }}" }
                // var formdata = this.newformdata()
                if (this.dislikebuttonstate) {
                    // var request = this._sendrequest(
                    //     "{% url 'ratings:rate_video:switch' %}",
                    //     formdata
                    // )
                    // request.then((response) => {
                    //     response.json().then((data) => {
                    //         this.likebuttonstate = !this.likebuttonstate
                    //         this.dislikebuttonstate = false
                    //         this.$emit("addlike", data)
                    //     })
                    // })
                    // .catch((error) => {
                    //     console.error(error)
                    // })

                    // NEW
                    this.$api.video.like("{% url 'ratings:rate_video:switch' %}", data)
                    .then((response) => {
                        this.likebuttonstate = !this.likebuttonstate
                        this.dislikebuttonstate = false
                        this.$emit("addlike", data)
                    })
                    .catch((error) => {
                        console.error(error)
                    })
                }

                if (this.likebuttonstate) {
                    // var request = this._sendrequest(
                    //     "{% url 'ratings:rate_video:switch' %}",
                    //     formdata
                    // )
                    // request.then((response) => {
                    //     response.json().then((data) => {
                    //         this.likebuttonstate = !this.likebuttonstate
                    //         this.$emit("addlike", data)
                    //     })
                    // })
                    // .error((error) => {
                    //     console.log(error
                    // })
                    
                    // NEW
                    this.$api.video.like("{% url 'ratings:rate_video:switch' %}", data)
                    .then((response) => {
                        this.likebuttonstate = !this.likebuttonstate
                        this.dislikebuttonstate = false
                        this.$emit("addlike", data)
                    })
                    .catch((error) => {
                        console.error(error)
                    })
                    
                } else {
                    // var request = this._sendrequest(
                    //     "{% url 'ratings:rate_video:like' %}",
                    //     formdata
                    // )
                    // request.then((response) => {
                    //     response.json().then((data) => {
                    //         this.likebuttonstate = !this.likebuttonstate
                    //         this.$emit("addlike", data)
                    //     })
                    // })
                    // .error((error) => {
                    //     console.log(error)
                    // })

                    // NEW
                    this.$api.video.like("{% url 'ratings:rate_video:like' %}", data)
                    .then((response) => {
                        this.likebuttonstate = !this.likebuttonstate
                        this.$emit("addlike", data)
                    })
                    .catch((error) => {
                        console.error(error)
                    })
                }
            },
            dislike: function (state) {
                var formdata = this.newformdata()
                if (this.likebuttonstate) {
                    var request = this._sendrequest(
                        "{% url 'ratings:rate_video:switch' %}",
                        formdata
                    )
                    request.then((response) => {
                        response.json().then((data) => {
                            this.dislikebuttonstate = !this.dislikebuttonstate
                            this.likebuttonstate = false
                            this.$emit("dislike", data)
                        })
                    })
                    .catch((error) => {
                        window.location.reload()
                        console.error(error)
                    })
                }

                if (this.dislikebuttonstate) {
                    var request = this._sendrequest(
                        "{% url 'ratings:rate_video:remove' %}",
                        formdata
                    )
                    request.then((response) => {
                        response.json().then((data) => {
                            this.dislikebuttonstate = !this.dislikebuttonstate
                            this.$emit("addlike", data)
                        })
                    })
                    .error((error) => {
                        window.location.reload()
                        console.log(error)
                    })

                } else {
                    var request = this._sendrequest(
                        "{% url 'ratings:rate_video:dislike' %}",
                        formdata
                    )
                    request.then((response) => {
                        response.json().then((data) => {
                            this.dislikebuttonstate = !this.dislikebuttonstate
                            this.$emit("addlike", data)
                        })
                    })
                    .error((error) => {
                        window.location.reload()
                        console.log(error)
                    })
                }
            },
            _sendrequest: function (url, formdata) {
                var fetchdict = this.newfetchdict(formdata)
                return fetch(url, fetchdict)
            }
        }
    }
</script>

<script>
    var playlistcomponent = {
        props: ["reference"],
        name: "Playlists",
        data() {
            return {
                playlists: [],
                newplaylistid: undefined,
                newplaylistname: undefined,
                newplaylistvisibility: "Public",
                visibilityoptions: ['Public', 'Private'],
                showinput: false,
                creatednew: false
            }
        },
        computed: {
            unallowcreate() {
                if (this.newplaylistname === undefined | this.newplaylistname === "") {
                    return true
                } else {
                    return false
                }
            }
        },
        methods: {
            addremovevideo: function (value, state) {
                var formdata = this.newformdata()
                formdata.append("id", value)
                formdata.append("state", state)
                
                var fetchdict = this.newfetchdict()
                fetchdict["body"] = formdata
                fetch("{% url 'videos:playlists:add_remove_video' %}", fetchdict)
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            },
            createnew: function () {
                var formdata = this.newformdata()
                formdata.append("name", this.newplaylistname)
                formdata.append("visibility", this.newplaylistvisibility)

                var fetchdict = this.newfetchdict()
                fetchdict["body"] = formdata
                
                fetch("{% url 'videos:playlists:new' %}", fetchdict)
                .then((response) => {
                    response.json().then((data) => {
                        this.creatednew = data.state
                        this.newplaylistid = data.id
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            },
            changevisibility: function (value) {
                this.newplaylistvisibility = value
            },
            newformdata: function () {
                var formdata = new FormData()
                formdata.append("reference", this.$props.reference)
                return formdata
            },
            newfetchdict: function () {
                return {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                }
            }
        }
    }
</script>

<script>
    var subscriptioncomponent = {
        name: "Subscribe",
        mixins: [fetchmixins],
        data() {
            return {
                isubscribed: false,
                hassubscribed: false
            }
        },
        beforeMount() {
            if ("{{ is_subscribed }}" === "True") {
                this.isubscribed = true
            } else {
                this.isubscribed = false
            }
        },
        methods: {
            unsubscribe: function () {
                var url = "{% url 'mychannel:unsubscribe' video.user_channel.reference %}"
                var formdata = this.newformdata()
                formdata.append("channel", "{{ video.user_channel.reference }}")
                fetch(url, this.newfetchdict(formdata))
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        } else {
                            this.hassubscribed = !this.hassubscribed
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            },
            subscribe: function () {
                var url = "{% url 'mychannel:subscribe' video.user_channel.reference %}"
                var formdata = this.newformdata()
                formdata.append("channel", "{{ video.user_channel.reference }}")
                fetch(url, this.newfetchdict(formdata))
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        } else {
                            this.hassubscribed = true
                        }
                    })
                })
                .catch((error) => {
                    console.error(error)
                })
            }
        }
    }
</script>

<script>
    var donationmodalcomponent = {
        name: "Donation",
        delimiters: ["[[", "]]"],
        mixins: [fetchmixins],
        data() {
            return {
                companycut: 0,
                creatorcut: 0,
                value: 5,
                creatoronly: false,
                hasconsented: {
                    general: false,
                    onaccount: false
                }
            }
        },
        created() {
            this.creatorcut = this.value * 0.7
            this.companycut = this.value * 0.3
        },
        computed: {
            donationbuttondisabled() {
                return this.consentcomplete === true ? false : true
            },
            consentcomplete() {
                var consent = this.hasconsented["general"] === true &
                        this.hasconsented["onaccount"] === true
                return consent === 0 ? false : true
            },
            minvalue() {
                if (this.creatoronly) {
                    this.value = 15
                    return 15
                } else {
                    this.value = 5
                    return 5
                }
            },
            simpledonation() {
                this.creatorcut = this.value * 0.7
                this.companycut = this.value * 0.3
            }
        },
        methods: {
            doconsent: function (key, state) {
                this.hasconsented[key] = state
            },
            senddonation: function () {
                var formdata = this.newformdata()
                formdata.append("channel", "{{ video.user_channel.reference }}")
                formdata.append("value", this.value)
                fetch("{% url 'donations:send' %}", this.newfetchdict(formdata))
                .then((response) => {
                    response.json().then((data) => {
                        if (!data.state) {
                            window.location.reload()
                        }
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        }
    }
</script>

<script>
    Vue.component("video-interface", {
        name: "VideoInterface",
        components: {
            "rating-component": ratingcomponent,
            "comment-interface": commentinterface,
            "playlist-component": playlistcomponent,
            "subscription-component": subscriptioncomponent,
            "donation-modal-component": donationmodalcomponent
        },
        delimiters: ["[[", "]]"],
        data() {
            return {
                reference: "{{ video.reference }}",
                likes: 0,
                dislikes: 0
            }
        },
        created() {
            this.likes = "{{ likes }}" * 1
            this.dislikes = "{{ dislikes }}" * 1
        },
        beforeMount() {
            this.$store.dispatch('updateCurrentVideo', "{{ video.reference }}")
        },
        methods: {
            updaterating: function (data) {
                this.likes = data.count.likes
                this.dislikes = data.count.dislikes
            }
        }
    })
</script>
