.general-transition-enter-active,
.general-transition-leave-active {
    transition: all .2s ease;
}
.general-transition-enter,
.general-transition-leave-to {
    opacity: 0;
    transform: scale(.9, .9);
}
.general-transition-enter-to,
.general-transition-leave {
    opacity: 1;
    transform: scale(1, 1);
}

.posts-table-enter-active {
    transition: all .8s ease;
}
.posts-table-enter {
    opacity: 0;
}
.posts-table-enter-to {
    opacity: 1;
}
.posts-table-move {
    transition: all .2s ease;
}
.posts-table-leave-active {
    transition: all .4s ease;
}
.posts-table-leave {
    opacity: 1;
}
.posts-table-leave-to {
    opacity: 0;
}

.filter-transition-enter-active {
    transition: all .3s ease;
}
.filter-transition-enter {
    opacity: 0;
}
.filter-transition-enter-to {
    opacity: 1;
    animation: widthanimation .4s;
}
@keyframes widthanimation {
    0% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

.card-transition-enter-active {
    transition: all .4s ease;
}
.card-transition-enter {
    opacity: 0;
}
.card-transition-enter-to {
    opacity: 1;
}
