@import "@nuxt/ui";
@import "tailwindcss";
@import "tw-animate-css";

@theme static {
  /* Override default green color */
  --color-green-50: #e6eef6;
  --color-green-100: #b3cce3;
  --color-green-200: #99bbda;
  --color-green-300: #6698c7;
  --color-green-400: #3376b5;
  --color-green-500: #0054a2;
  --color-green-600: #004c92;
  --color-green-700: #003b71;
  --color-green-800: #003261;
  --color-green-900: #001931;
  --color-green-950: #000810;
}
