{% load i18n %}

<script>
    Vue.component("confirm-button", {
        props: ["text", "submitted", "state"],
        name: "ConfirmButton",
        delimiters: ["[[", "]]"],
        template: `
        <button @click="$emit('sendconfirmation')" :class="{'disabled': !state}" class="btn btn-md btn-primary">
            <span v-if="submitted" 
                class="spinner-border spinner-border-sm" 
                    role="status" aria-hidden="true">
            </span>
            
            <span v-else>
                <i class="fa fa-check mr-3"></i>
                [[ text ]]
            </span>
        </button>
        `
    })

    Vue.component("form-component", {
        props: ["id", "position"],
        name: "Form",
        delimiters: ["[[", "]]"],
        template: `
        <form @submit.prevent="submitform" :id="id" method="POST">
            {% csrf_token %}

            <slot></slot>

            <div class="form-group">
                <input :value="position" type="hidden" name="position">
            </div>

            <div class="form-row">
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check mr-3"></i>
                        {% trans 'Valider' %}
                    </button>
                </div>
            </div>
        </form>
        `,
        methods: {
            submitform: function () {
                this.$el.submit()
            }
        }
    })
</script>
