{% extends "layouts/base_interface.html" %}
{% load i18n static cache %}

{% block title %}{% trans "Chaînes" %} - VaTube{% endblock %}

{% block main %}
<channels-interface inline-template>
    <div>
        <header>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4 text-right">
                        <div class="card-body">
                            <transition name="general-transition" tag="div">
                                <a v-if="hasexistingchannel" :href="channelurl" class="btn btn-lg btn-info">
                                    {% trans "My channel" %}
                                </a>
            
                                <button v-else @click="createnewchannel" class="btn btn-lg btn-primary">
                                    {% trans "Create my channel" %}
                                </button>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <section class="section">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        {% for channel in channels %}
                            <div class="col-12 col-sm-12 col-md-4">
                                <simple-card-component key="{{ forloop.counter }}">
                                    <slot>
                                        <img class="card-img-top" src="{{ channel.channel_thumbnail.url }}" alt="{{ channel.name }}">
        
                                        <div class="card-body">
                                            <a href="{{ channel.get_absolute_url }}" class="font-weight-bold">
                                                {{ channel.name }}
                                            </a>
                                        </div>
        
                                        <div class="card-footer bg-white">
                                            {{ channel.description }}
                                        </div>
                                    </slot>
                                </simple-card-component>
                            </div>
                        {% empty %}
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>There are no channels on this website</h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</channels-interface>

{% endblock %}

{% block vuejs_scripts %}
    {{ block.super }}
    <!-- App -->
    {% include "vue/channels_app.html" %}
{% endblock %}
