{% extends "layouts/base_interface.html" %}
{% load i18n static cache %}

{% block title %}{{ channel.name }} - VaTube{% endblock %}

{% block extra_css %}
    <style>
        .vjs-custom-skin.video-js .vjs-big-play-button {
            display: none;
        }
    </style>
{% endblock %}

{% block main %}
<current-channel inline-template>
    <section class="section" id="channel">
        <div class="row">
            <div class="col-12">
                <div class="header">
                    {% cache 60 channel_banner channel.reference %}
                        <div data-banner="{{ channel.resized_banner.url }}" class="image" style="position: relative;background-position:center;background-size: cover;background-repeat: no-repeat;height:300px;width:100%;background-image:url(/media/{{ channel.banner }});">
                            <div class="socials p-2" style="position: absolute;bottom: 0;">
                                {% if channel.instagram %}
                                    <a href="{{ channel.instagram }}" class="btn btn-sm btn-primary" target="_blank"><i class="fas fa-instagram"></i></a>
                                {% endif %}
    
                                {% if channel.email %}
                                    <a href="mailto:{{ channel.email }}" class="btn btn-sm btn-primary" target="_blank"><i class="fas fa-envelope"></i></a>
                                {% endif %}
                            </div>
                        </div>                            
                    {% endcache %}
    
                    {% comment "Channel avatar" %}
                        <div class="special-avatar" style="position: absolute; top: 0; left: 0;">
                            <div class="outer-container">
                                <div class="green-icon"></div>
                                <div class="inner-container">
                                    <img src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg">
                                </div>
                            </div>
                        </div>                        
                    {% endcomment %}
                </div>
            </div>
    
            <div class="col-12 d-flex flex-direction-row justify-content-between">
                <div class="details">
                    <h1>{{ channel.name }}</h1>
                    
                    {% cache 20 channel_details channel.reference  %}
                        {% with subscriber_count=channel.subscribers.all.count %}
                            <p>{{ subscriber_count }} subcriber{{ subscriber_count|pluralize }}</p>                            
                        {% endwith %}                            
                    {% endcache %}
                </div>
                
                <div class="actions">
                    {% if channel.user.username == user.username %}
                        <a href="{% url 'mychannel:settings:customize' channel.reference %}" class="btn btn-lg btn-primary mr-0" target="_blank">
                            {% trans "Manage my channel" %}
                        </a>
                    {% else %}
                        {% if request.user.is_authenticated %}
                            <subscription-component inline-template>
                                <div class="subscription">
                                    <button class="btn btn-lg btn-secondary">
                                        <i class="fa fa-bell"></i>
                                    </button>
    
                                    <button @click="unsubscribe('{{ video.user_channel.reference }}')" v-if="hassubscribed | isubscribed" class="btn btn-lg btn-danger">
                                        {% trans "Unsubscribe" %}
                                    </button>
                            
                                    <button @click="subscribe('{{ video.user_channel.reference }}')" v-else class="btn btn-lg btn-primary">
                                        {% trans "Subscribe" %}
                                    </button>
                                </div>
                            </subscription-component>                            
                        {% else %}
                            <a href="{% url 'admin:login' %}?next={{ channel.get_absolute_url }}" class="btn btn-lg btn-primary">
                                {% trans "Subscribe" %}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    
        <!-- Videos -->
        {% cache 900 channel_videos channel.reference %}
            <div class="row">
                <div class="col-12">
                    {% with playlists=channel.channelplaylist_set.all channel_videos=channel.video_set.all %}
                        {% if playlists %}
                            {% include "includes/videos_by_playlist.html" with playlists=playlists %}
                        {% elif channel_videos %}
                            {% include "includes/unclassified_videos.html" with videos=channel_videos %}
                        {% else %}
                            <div class="card">
                                <div class="card-body">
                                    {% if channel.user.username == request.user.username %}
                                        <h2 class="text-center">
                                            {% trans "Your channel does not have any videos" %}
                                        </h2>
                                
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a href="{% url 'mychannel:settings:upload' channel.reference %}" class="btn btn-lg btn-info">
                                                    {% trans "Upload your first video" %}
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <h2 class="text-center">
                                            {% blocktrans with user_name=channel.user.username %}
                                                {{ user_name|title }} does not have any videos yet
                                            {% endblocktrans %}
                                        </h2>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>            
        {% endcache %}
    </section>
</current-channel>
{% endblock %}

{% block vuejs_scripts %}
    {{ block.super }}
    <!-- Subscribe -->
    {% include "vue/subscribe.html" %}
    <!-- Channel -->
    {% include "vue/channel.html" %}
{% endblock %}
