@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Sora', sans-serif;
  --font-title: 'Manrope', sans-serif;

  --sidebar-width: 280px;
  --navbar-height: 70px;
}

.page-enter-active,
.page-leave-active {
  transition: all ease-in-out 0.2s;
}
.page-enter-from {
  opacity: 0;
  transform: translateX(-10px);
}
.page-enter-to {
  opacity: 1;
}
.page-leave-from {
  opacity: 1;
}
.page-leave-to {
  opacity: 0;
}
