{# {% load nodes_plus %} #}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'hero:home' %}">
            <strong>MDB</strong>
        </a>

        <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" 
                        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                {# {% authenticated_navbar_links %} #}
            {% else %}
                {# {% non_authenticated_navbar_links %} #}
            {% endif %}
            
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://github.com/Zadigo" class="nav-link" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/Zadigo/django_template_project" class="nav-link border border-light rounded" target="_blank">
                        <i class="fab fa-github mr-2"></i>
                        Template GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
