{% extends "layouts/modals/base.html" %}
{% load i18n %}

{% block modal_id %}playlists{% endblock %}

{% block modal_aria %}playlists{% endblock %}

{% block modal_title %}{% trans "Save to" %}{% endblock %}

{% block modal_fade_direction %}right{% endblock %}

{% block modal_class %}modal-full-height modal-right{% endblock %}

{% block modal_body %}
    <ul class="list-group z-depth-0">
        {% for playlist in playlists %}
            <li class="list-group-item justify-content-between">
                <data-checkbox-component 
                    @startaction="addremovevideo" :id="'playlist_{{ forloop.counter }}'" 
                        :label="'{{ playlist.name }}'" :key="'{{ forloop.counter }}'"
                            :value="'{{ playlist.id }}'" :ischecked="'{{ playlist.video_in_playlist }}'" />

                {% if playlist.visibility == "Private" %}
                    <i class="fa fa-lock"></i>
                {% endif %}
            </li>            
        {% endfor %}

        <li v-if="creatednew" class="list-group-item justify-content-between">
            <data-checkbox-component @startaction="addremovevideo" :id="'playlist_new'"
                :label="newplaylistname" :key="newplaylistname" :value="newplaylistid"
                    :ischecked="'True'" />
        </li>
    </ul>
{% endblock %}

{% block modal_footer_content %}
    <div class="row">
        <div v-if="!showinput" class="col-12">
            <button @click="showinput=!showinput" class="btn btn-lg btn-primary">
                {% trans "New playlist" %}
            </button>
        </div>

        <div v-else class="col-12">
            <div class="form-group">
                <input v-model="newplaylistname" type="text" name="new-playlist" class="form-control" id="new-playlist" placeholder="Name">
            </div>

            <div class="form-group">
                <select-component @startaction="changevisibility" :options="visibilityoptions" />
            </div>

            <button @click="showinput=false" class="btn btn-lg btn-outline-warning">
                {% trans "Cancel" %}
            </button>

            <button v-if="unallowcreate" class="btn btn-lg btn-primary disabled">
                {% trans "Create" %}
            </button>
            <button @click="createnew()" v-else class="btn btn-lg btn-primary">
                {% trans "Create" %}
            </button>
        </div>
    </div>
    
{% endblock %}
