{% extends "layouts/base_site.html" %}
{% load i18n static cache %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include "layouts/navs/nav.html" %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
{% endblock %}

{% block main %}
    {% cache 3600 hero %}
        <!-- Hero -->
        {% include "layouts/hero.html" %}
        <!-- Benefits -->
        {% include "layouts/benefits/base.html" %}        
    {% endcache %}
{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            $("#hero").css({
                "background-image": "url('https://images.unsplash.com/photo-1513091550446-33297bfca05b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80')"
            })
        });
    </script>
{% endblock %}

{% block vuejs_scripts %}
    <!-- Contact -->
    {% include "vue/contact/form.html" %}
{% endblock %}

{% block footer %}
    {% include "layouts/navs/footer.html" %}
{% endblock %}
